@charset "UTF-8";
body{
    background: #0f75eb;
}
.titulo{
    font: normal bold 14pt 'Gall Sans', sans-serif;
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.35) 0 0.125rem 0.25rem;
}
section{
    background: #fff;
    display: block;
    width: 550px;
    height: 350px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0.125rem 0.25rem;
}
.cabecjogo{
    position: relative;
    padding-top: 5px;
    display: block;
    height: 60px;
}
.cabecjogo > button#estado{
    background: #fff;
    width: 100px;
    height: 40px;
    margin-top: 6px;
    margin-left: 15px;
    border-radius: 5px;
    font: normal bold 12.13pt 'Gall Sans', sans-serif;
    visibility: visible;
}
div#jogo{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 200px;
    border: 6px solid black;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0.125rem 0.25rem;
    height: 200px;
    margin: 0 auto;
    margin-top: 15px;
    visibility: visible;
}
#jogo > div{
    display: inline-flex;
    width: 60px;
    height: 60px;
    align-items: center;
    border: 3px solid black;
    border-spacing: 0px;
}
#jogo > div.a{
    border-top: none;
}
#jogo > div.c{
    border-bottom: none;
}
#jogo > div.um{
    border-left: none;
}
#jogo > div.tres{
    border-right: none;
}
#jogo label{
    color: #fff;
    background-color: none;
    display: block;
    width: 60px;
    padding: 18px 0px 18px 0px;
    text-align: center;
    text-transform: uppercase;
    font: normal bold 18pt 'Gall Sans', sans-serif;
}
footer{
    text-align: center;
}
#vencedor{
    font: normal bold 18pt 'Gall Sans', sans-serif; 
    text-transform: uppercase;
}